:root,
:root.light {
  --body-backgroud-color: #fff;
  --body-color: #333;
  --wiki-content-background-color: #fff;
  --nav-container-background-color: #fff;
  --nav-selected-background-color: #00a8e6;
  --nav-selected-color: #fff;
  --link-color: #444;
  --link-hover-color: #444;
  --dialog-backgroud-color: #fff;
  --dialog-title-color: #333;
  --dialog-desc-color: #666;
  --dialog-confirm-button-background-color: #4FB0F9;
  --dialog-confirm-button-color: #fff;
  --dialog-cancel-button-background-color: #fff;
  --dialog-cancel-button-color: #4FB0F9;
  --dialog-success-icon-color: #333;
  --dialog-fail-icon-color: #ff0505;
  --button-background-color: rgb(239 239, 239);
  --button-color: rgb(0, 0, 0);
  --input-background-color: rgb(239 239, 239);
  --input-color: rgb(0, 0, 0);
  --pre-background-color:#ebeaea; 
}

/* automatic dark mode */
/* ❗️ keep the rules in sync with the manual dark mode below! */
@media (prefers-color-scheme: dark) {
  :root {
    --body-backgroud-color: #000;
    --body-color: #ebeaea;
    --wiki-content-background-color: #000;
    --nav-container-background-color: #000;
    --nav-selected-background-color: rgb(0, 127, 175);
    --nav-selected-color: rgb(220, 219, 216);
    --link-color: #ebeaea;
    --link-hover-color: #a8a7a7;
    --dialog-backgroud-color: #2d2d2d;
    --dialog-title-color: #acacac;
    --dialog-desc-color: #acacac;
    --dialog-confirm-button-background-color: rgb(5, 86, 147);
    --dialog-confirm-button-color: rgb(220, 219, 216);
    --dialog-cancel-button-background-color: rgb(23, 25, 26);
    --dialog-cancel-button-color: rgb(78, 170, 237);
    --dialog-success-icon-color: rgb(190, 185, 179); 
    --dialog-fail-icon-color: rgb(242, 28, 28);
    --button-background-color: #17191a;
    --button-color: rgb(220, 219, 216);
    --input-background-color: #17191a;
    --input-color: rgb(220, 219, 216);
    --pre-background-color:#2e2e2e; 
  }
}

/* manual dark mode 
/* ❗️ keep the rules in sync with the automatic dark mode above! */
:root.dark {
  --body-backgroud-color: #000;
  --body-color: #ebeaea;
  --wiki-content-background-color: #000;
  --nav-container-background-color: #000;
  --nav-selected-background-color: rgb(0, 127, 175);
  --nav-selected-color: rgb(220, 219, 216);
  --link-color: #ebeaea;
  --link-hover-color: #a8a7a7;
  --dialog-backgroud-color: #2d2d2d;
  --dialog-title-color: #acacac;
  --dialog-desc-color: #acacac;
  --dialog-confirm-button-background-color: rgb(5, 86, 147);
  --dialog-confirm-button-color: rgb(220, 219, 216);
  --dialog-cancel-button-background-color: rgb(23, 25, 26);
  --dialog-cancel-button-color: rgb(78, 170, 237);
  --dialog-success-icon-color: rgb(190, 185, 179); 
  --dialog-fail-icon-color: rgb(242, 28, 28);
  --button-background-color: #17191a;
  --button-color: rgb(220, 219, 216);
  --input-background-color: #17191a;
  --input-color: rgb(220, 219, 216);
  --pre-background-color:#2e2e2e; 
}

html {
  font-size: 100px; // 相当于配置了1rem = 100px
}

body {
  font-size: .12rem; // 相当于配置了body里的字体默认是100px * 0.12 = 12px
  font: 400 .16rem/.26rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--body-backgroud-color);
  color: var(--body-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  background: rgba(0, 0, 0, 0.03);
  color: var(--link-hover-color);
  outline: none;
  cursor: pointer; // 光标变为手型
}

i {
  font-style: normal;
}

input[type=button] {
  background-color: var(--button-background-color);
  color: var(--button-color);
}

input[type=text] {
  background-color: var(--input-background-color);
  color: var(--input-color);
}

input[type=file] {
  background-color: var(--input-background-color);
  color: var(--input-color);
}

// 对话框的淡入淡出
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

// 对话框的淡入淡出
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// 代码的背景色
pre {
  background-color: var(--pre-background-color);
}

// markdown editor的背景色
.v-md-textarea-editor pre, .v-md-textarea-editor textarea {
  background-color: var(--pre-background-color);
}
.v-md-editor__editor-wrapper, .v-md-editor__preview-wrapper {
  background-color: var(--pre-background-color);
}

// markdown editor的文字的颜色
#app .v-md-textarea-editor pre, #app .v-md-textarea-editor textarea {
  color: var(--body-color);
  font-size: .18rem;
}

// WikiContentView.vue中图片的大小
#content a > img {
  width: 100%;
}

#app .v-md-editor-preview img {
  width: 100%;
}